.logo {
    margin: 10px;
    margin-right: 35%;
    width: 100px;
}

.container-xl {
    max-width: 1450px !important;
}

.some-space {
    margin: 10px 0px 10px 0px;
}

.design-navbar {
    border-radius: 0px 0px 20px 20px;

    filter: drop-shadow(0 1px 16px #bdbdbd);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.principal-title {
    font-size: 50px;
    font-weight: 700;

    margin-bottom: 0;
    margin-right: 100px;
    text-align: center;

    color: black;
}

.secundar-title {
    font-size: 20px;
    font-weight: 700;
    
    margin-top: 0;
    margin-right: 100px;
    text-align: center;
    
    color: black
}

.cuprins-box {
    margin: 30px 0px 30px 0px;
    padding: 10px 20px 10px 20px;

    border: solid 0.3em white;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.cuprins-title {
    font-size: 25px;
    font-weight: bold;

    display: flex;
    align-items: center;
}

.cuprins-text {
    font-size: 20px;
    font-weight: 500;

    color: rgb(26, 25, 25);
}

.img-fix-home {
    width: 450px;
    height: auto;

    border-radius: 20px;
    filter: drop-shadow(0 1px 16px #bdbdbd);
}

.img-fix {
    width: auto;
    height: 500px;
    
    margin: 15px;
}

.footer-fix {
    min-height: calc(100vh - 203px);
}

.bold-text {
    font-weight: bold;
    color: #210062;
}

.nav-text {
    font-weight: 500;
    color: #210062;
}

.left-text{
    margin-left: 10%;
}

.right-text {
    margin-left: 80%;
}

.gif {
    margin: auto;

    width: auto;
    height: 130px;

    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .img-fix {
        width: 500px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .img-fix {
        width: 100px;
        height: 170px;
    }
}

@media only screen and (max-width: 820px) {
    .img-mobile {
        margin: 10px 10px 20px 0px;
        width: 300px;
        height: auto;
    }
}