.navbar-container {
    margin: 0px 75px 0px 75px;
    padding: 20px;
    height: auto;

    text-align: justify;
    font-size: 19px;

    border-radius: 0px 0px 30px 30px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.test-button {
    text-align: center;
    font-size: 18px;
    font-weight: bold;

    border: solid 0.3em #fcfafb;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

    background-color: #fcfafb;
}

.bold-text {
    font-weight: bold !important;
    color: #210062 !important;
}

.nav-text {
    font-weight: 400 !important;
    color: #210062 !important;
}

.nav-pile-text > a.nav-link {
    font-weight: 400;
    color: #210062
}