.design-container {
    height: 320px !important;
}

.img-fix-app {
    width: 375px;
    height: auto;

    margin: 30px 10px 30px 0px;
    border-radius: 20px;
    justify-content: center;
  
    filter: drop-shadow(0 1px 16px #bdbdbd);
}

@media only screen and (max-width: 1240px) {
    .img-fix-app {
        margin: 0px;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .img-fix-app {
        margin: 0px;
        width: 250px;
        height: auto;
    }
}