.design-container {
    min-height: 200px;
}

.img-fix-app {
    width: 450px;
    height: auto;

    margin: 30px 10px 30px 0px;
    border-radius: 20px;
    justify-content: center;
}

@media only screen and (max-width: 1240px) {
    .img-fix-app {
        margin: 0px;
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    .img-fix-app {
        margin: 0px;
        width: 250px;
        height: auto;
    }
}