.footer {
    margin-top: 10px;
    font-size: 20px;

    background-color: #d6e5fa;
}

.icon-left-img {
    width: 100px;
    height: auto;
}

.icon-right-img {
    margin-right: 10px;
    width: 100px;
    height: auto;
}

.text-align {
    margin-top: 10px;
}

.top-button {
    margin-right: 1%;
    text-align: right;
}

.arrow {
    width: 30px;
}

@media only screen and (max-width: 600px) {
    .icon-left-img {
        margin: auto;
        margin-bottom: 10px;
    }
    .icon-right-img {
        margin: auto;
    }
    .top-button {
        margin-right: 7%;
    }
}