.pahare-dropdown .btn-success {
    background-color: #13b113;
}

.pahare-dropdown .btn-success:focus + .dropdown-menu {
    background-color: #0ac16c;
}

.placute-dropdown .btn-primary {
    background-color: #0e0edf;
}

.placute-dropdown .btn-primary:focus + .dropdown-menu {
    background-color: #009dff;
}

.menu-selector {
    height: 100%;
    margin: 15px 0 15px 0;
    padding: 20px 20px 0px 20px;

    text-align: justify;
    
    font-size: 20px;

    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

    background-color: #F9F7F7;
}

.work-space-box {
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    min-height: 500px;

    margin: 15px 0 15px 0;
    padding: 20px 20px 20px 20px;
    /*border: solid 0.1rem #98cee6;*/
    border-radius: 30px;

    position: relative;
    transform: translate(-50%,-50%);
    
    filter: drop-shadow(0 1px 16px #bdbdbd);
    background-color: #F1FAFB;
}

.glass-box {
    height: 250px;

    margin-top: 30%;
    text-align: center;
}

.pahar-box {
    margin: 10px;
    padding: 10px;
    
    text-align: center;
    font-size: 18px;

    border-radius: 30px;
    background-color: #9091c7
}

.pile-box {
    margin: 10px;
    padding: 10px;
    
    text-align: center;
    font-size: 18px;

    border-radius: 30px;
    background-color: #92b0dc;
}

.chem-glass {
    width: 150px;
    height: auto;
    margin: 10px;

    justify-content: center !important;
    align-items: center !important;
}

.spawn-battery {
    width: 590px !important;

    top: 25%; right: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -35%); /*schimb adancimea*/
    
    object-fit: cover;
    position: absolute; 

    padding: 0px !important;
    margin-right: 0px;
}

.spawn-salty-deck {
    width: 430px;
    height: auto;

    top: 32%; right: 25%;
    transform: translateY(-50%);
    left: 50%;
    transform: translate(-50%, -35%); /*schimb adancimea*/
    
    object-fit: cover;
    position: absolute; 

    padding: 0px !important;
    margin-right: 0px;
}

.spawn-left-pile-box {
    width: 30px !important;
    height: auto;

    object-fit: cover;
    position: absolute;
    left: 24%; top: 28%;
}

.spawn-right-pile-box {
    width: 30px !important;
    height: auto;

    object-fit: cover;
    position: absolute;
    right: 23.7%; top: 28%;
}

.info-text {
    text-align: center;
    font-size: 18px;
}

.concentratia-text {
    text-align: center;
    margin: 10px;
    font-size: 15px;
}

.reset-button {
    text-align: center;

    margin: 20px 25% 0px 25%;
    padding: 10px;
    
    text-align: center;
    font-size: 18px;

    border-radius: 30px;
    background-color: #DF2E38;
}

.send-button {
    text-align: center;

    margin: 20px 25% 0px 25%;
    padding: 10px;
    
    text-align: center;
    font-size: 18px;

    border-radius: 30px;
    background-color: #5D9C59;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
    .work-space{    
        padding-top: 60px;
        padding-bottom: 60px;
    }
}