.pahare-dropdown .btn-success {
    background-color: #13b113;
}

.pahare-dropdown .btn-success:focus + .dropdown-menu {
    background-color: #0ac16c;
}

.placute-dropdown .btn-primary {
    background-color: #0e0edf;
}

.placute-dropdown .btn-primary:focus + .dropdown-menu {
    background-color: #009dff;
}

.menu-selector {
    height: 100%;
    margin: 15px 0 15px 0;
    padding: 20px 20px 0px 20px;

    text-align: justify;
    
    font-family: 'Comic Sans';
    font-size: 20px;

    border: solid 0.3em #56c2ec;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

    background-color: #56c2ec;
}

.work-space-box {
    top: 50%; left: 50%;
    width: 100%; height: 100%;
    min-height: 500px;

    margin: 15px 0 15px 0;
    padding: 20px 20px 10px 20px;
    border: solid 0.1rem #98cee6;

    position: relative;
    transform: translate(-50%,-50%);
    
    background: #b6e4f8;
    filter: drop-shadow(0 1px 16px #bdbdbd);
}

.glass-box {
    height: 250px;

    margin-top: 20%;
    text-align: center;

    border: solid 0.1rem #98cee6;
    border-color: yellow;
}

.pahar-box {
    margin: 10px;
    padding: 10px;
    
    text-align: center;
    font-family: 'Comic Sans';
    font-size: 18px;

    border-radius: 30px;
    border: solid 0.1rem #98cee6;
    border-color: purple;
}

.pile-box {
    margin: 10px;
    padding: 10px;
    
    text-align: center;
    font-family: 'Comic Sans';
    font-size: 18px;

    border-radius: 30px;
    border: solid 0.1rem #98cee6;
    border-color: orange;
}

.chem-glass {
    width: 150px;
    height: auto;

    justify-content: center !important;
    align-items: center !important;

    margin: 10px;
}

@media only screen and (min-width: 375px) and (max-width: 812px) {
    .work-space{    
        padding-top: 60px;
        padding-bottom: 60px;
    }
}