.info-container {
    margin: 15px 0 15px 0;
    padding: 20px 20px 10px 20px;

    text-align: justify;
    font-family: 'Palatino';
    font-size: 20px;

    border: solid 0.3em white;
    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.vertical {
    border-left: 6px solid rgb(19, 19, 161);
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    .info-container {
        min-height: 400px;
    }
    .vertical {
        min-height: 370px;
    }
}