.info-container {
    margin: 25px 0 15px 0;
    padding: 20px;

    text-align: justify;
    font-size: 20px;

    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

    background-color: rgba(255, 255, 255, 0.547);
}

.left-container {
    margin: 25px 0 15px 0;
    padding: 20px;

    text-align: justify;
    font-size: 20px;

    border-radius: 30px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);

    background-color: rgba(255, 255, 255, 0.547);
}

.vertical-info {
    border-left: 6px solid rgb(19, 19, 161);
    padding-left: 20px;
}

.vertical-left {
    border-left: 6px solid rgb(255, 0, 0);
    padding-left: 20px;
}

@media only screen and (max-width: 768px) {
    .info-container {
        min-height: 400px;
        font-size: 18px;
    }
    .vertical {
        min-height: 370px;
    }
    .left-container {
        font-size: 18px;
    }
}